/* Local Fonts */
@import './partials/_fonts.css';

/* Minor resets */
@import './partials/_base.css';

/* Tailwind Base + Components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Custom Partials */
@import './partials/_animations.css';
@import './partials/_embla-carousel.css';
@import './partials/_container.css';
@import './partials/_typography.css';

/* Tailwind Utils */
@import 'tailwindcss/utilities';

  .app:before {
    height: 0;
    content: '';
    @apply block w-full;
    @screen lg {
      height: 151px;
    }
  }

.snipcart-modal__container {
  z-index:50!important;
}

.category-filter {
  [aria-current="page"] {
    @apply bg-sugar-pink-400;
  }
}

.nav a.is-active {
  background: url("/images/active.svg") bottom left no-repeat;
    @screen md {
      background-image: url("/images/active-red.svg");
      background-position: bottom center;
    }
}

/* .box__header {
  line-height: 2.5rem;
  @apply absolute top-0 left-0 text-4xl font-light lg:text-6xl xl:text-8xl 2xl:text-10xl;
  @screen lg {
    line-height: 4rem;
  }
  @screen xl {
    line-height: 5.5rem;
  }
  @screen 2xl {
    line-height: 7rem;
  }
} */

/* Subnav */

.shop-link:hover > .subnav,
.shop-link:focus > .subnav,
.shop-link:focus-within > .subnav{
	@apply 
		visible block;
}

.subnav {
	&:hover {
		@apply 
			visible block;
	}
}


.inverted-tiles .inverted-tiles__article:nth-of-type(2n + 1) {
  @apply bg-rose-pink-100;
}

@screen md {
  /* Reset */
  .inverted-tiles .inverted-tiles__article:nth-of-type(2n + 1) {
    @apply bg-sugar-pink-100;
  }

  .inverted-tiles .inverted-tiles__article:nth-of-type(4n + 1),
  .inverted-tiles .inverted-tiles__article:nth-of-type(4n + 4) {
    @apply bg-rose-pink-100;
  }

}

.inverted-tiles .inverted-tiles__article:hover,
.inverted-tiles .inverted-tiles__article:nth-of-type(2n + 1):hover,
.inverted-tiles .inverted-tiles__article:nth-of-type(4n + 1):hover,
.inverted-tiles .inverted-tiles__article:nth-of-type(4n + 4):hover,
.inverted-tiles .inverted-tiles__article:focus,
.inverted-tiles .inverted-tiles__article:nth-of-type(2n + 1):focus,
.inverted-tiles .inverted-tiles__article:nth-of-type(4n + 1):focus,
.inverted-tiles .inverted-tiles__article:nth-of-type(4n + 4):focus {
  @apply bg-sugar-pink-400;
}

.text-shadow {
  text-shadow: -1px 4px 7px rgba(0,0,0,0.6);
}